<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}">
	<!-- <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400" rel="stylesheet"> -->
	<script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.2.1.js') }}"></script>

</head>
<body>
	<div id="time_container">
		<h4 id="retrieve_time" class="time"></h4>
		<h4 id="render_time" class="time"></h4>
	</div>
	<div id="main">
		<div id="form">
			<form id="search_query">
				<div id="form_1">
					<input type="text" name="search_query" id="query_text" placeholder="Enter your free text query.." value="" list="suggestions" autocomplete="off">
					<datalist id="suggestions">
					    
					</datalist>
				</div>
				<div id="form_2">
					<button type="submit" id="submit_query">Search</button>
				</div>
			</form>
		</div>
		<div id="results_holder"></div>
	</div>
	<script type="text/javascript" src="{{ url_for('static', filename='js/socketio.min.js')}}"></script>
	<script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='js/socketio.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='js/main.js') }}"></script>
</body>
</html>